{% extends 'base.html' %}
{% block title %}
  Search Result of {{ query }}
{% endblock %}

{% block body %}
  {% if videos %}
    <div class="row">
      <div class="col-12">
        <h1 style="text-align: center;">Search Result for {{ query }}</h1>
      </div>
    </div>
    <div class="row" style="text-align: center; padding-bottom: 100px;">
      <form action="{% url 'search' %}" method="get">
        <label for="query">Search Again</label>
        <input class="form-control border-end-0 border rounded-pill" type="text" value="" name="query" />
        <select class="form-select" id="category" name="category">
          <option value="">Select a category</option>
          <option value="MUSIC">Music</option>
          <option value="ANIFILM">Animation and Film</option>
          <option value="PETS">Pets and Animals</option>
          <option value="SPORTS">Sports</option>
          <option value="GAMING">Gaming</option>
          <option value="NEWS">News</option>
          <option value="POLITICS">Politics</option>
          <option value="EDUCATION">Education</option>
          <option value="SCITECH">Science And Technology</option>
          <option value="OTHERS">Others</option>
        </select>
        <span class="input-group-append"><button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" type="submit"><i class="fa fa-search"></i> Submit</button></span>
      </form>
    </div>
    <div class="row">
      {% for video in videos %}
        <div class="col-4">
          <div class="card">
            <img src="https://img.youtube.com/vi/{{ video.videoID }}/0.jpg" class="card-img-top" alt="{{ video.title }}" />
            <div class="card-body">
              <a href="{% url 'watch' video.pk %}"><h5 class="card-title">{{ video.title }}</h5></a>

              <p class="card-text">{{ video.description|truncatechars:100 }}...........</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="row" style="padding-bottom: 20px;">
      <div class="col-12">
        <h1 style="text-align: center;">No result found for query <b>{{ query }}</b></h1>
      </div>
    </div>
    <div class="row" style="text-align: center; padding-bottom: 100px;">
      <form action="{% url 'search' %}" method="get">
        <label for="query">Search Again</label>
        <input class="form-control border-end-0 border rounded-pill" type="text" value="browser" name="query" />
        <select class="form-select" id="category" name="category">
          <option value="">Select a category</option>
          <option value="MUSIC">Music</option>
          <option value="ANIFILM">Animation and Film</option>
          <option value="PETS">Pets and Animals</option>
          <option value="SPORTS">Sports</option>
          <option value="GAMING">Gaming</option>
          <option value="NEWS">News</option>
          <option value="POLITICS">Politics</option>
          <option value="EDUCATION">Education</option>
          <option value="SCITECH">Science And Technology</option>
          <option value="OTHERS">Others</option>
        </select>
        <span class="input-group-append"><button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" type="submit"><i class="fa fa-search"></i> Submit</button></span>
      </form>
    </div>
  {% endif %}
{% endblock %}
